<html>
<header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="index.html">Home</a></li>
        <li role="presentation"><a href="customer.html">Customer</a></li>
        <li role="presentation"><a href="driver.html">Driver</a></li>
        <li role="presentation"><a href="about.html">About RideShare </a></li>
        <li role="presentation"><a href="rideStatus.html">Check Your Ride Status </a></li>
    </ul>

</header>
<body>
    <p> Creators: Erik May, Devonte Holmes </p>
    


<script src="../Scripts/angular.js"></script>
<script src="../Scripts/angular-route.js"></script>
<script src="../Scripts/APIScripts/Module.js"></script>
<script src="../Scripts/APIScripts/Service.js"></script>
<script src="../Scripts/APIScripts/Controller.js"></script>   
</body>
</html>